* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.index {
  height: 100vh;
  background-color: #000;

  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin: auto;
    /* align-items: center; */
    justify-content: center;
  }
  
  .phone-number {
    font-size: 40px;
    color: #D2A2F9;
  }

  .message {
    animation: fadeIn 0.5s ease-in, fadeOut 1.5s ease-out 9s;
    font-size: 72px;
    color: #D2A2F9;
    padding-top: 16px;
  }
}

.moderate {
  padding: 16px 32px;
  height: 100vh;
  background: linear-gradient(#f69d3c, #3f87a6);

  .header {
    display: flex;
    align-items: center;
    height: 10vh;
  }

  .page-content {
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 16px;
    overflow-y: hidden;

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-right: 1px solid black;
      padding-right: 16px;
      width: 164px;
    }

    .content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .table-container {
        height: 100%;
        overflow-y: auto;
      }

      table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;

        thead {
          border-bottom: 2px double black;

          th {
            padding: 8px;
          }

          th:nth-child(1) {
            width: 15%
          }
          th:nth-child(2) {
            width: 60%
          }
          th:nth-child(3) {
            width: 10%
          }
          th:nth-child(4) {
            width: 15%
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid black;
          }
  
          td {
            padding: 8px 0px;
            text-align: center;
          }
          td.message-text {
            text-align: left;
            text-wrap: wrap;
          }

          .actions-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            justify-content: center;
            align-items: center;

            button {
              cursor: pointer;
              background-color: transparent;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
