extends layout

block content
	- var smsLink = `sms:${phoneNumber}`
	div(class="index")
		div(class="content")
			div(class="phone-number")
				p Text 
					a(href=smsLink) #{phoneNumber}
			include display-message.pug

