extends layout

block content
	- var smsLink = `sms:${phoneNumber}`
	div(class="index")
		div(class="content space-mono-regular")
			div(class="phone-number")
				p Text #{phoneNumber}
			include display-message.pug

