extends layout

block content
	- var smsLink = `sms:${phoneNumber}`
	div(class="index")
		div(class="header")
			p Send a message by texting 
				a(href=smsLink) #{phoneNumber}
		div(class="content")
			div(class="messages-container" id="messages")
				each message in messages
					include message.pug
