<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<div>
			<h1>
				Moderation page
			</h1>
		</div>
		<div style="display: flex; flex-direction: row; gap: 16px;">
			<div style="display: flex; flex-direction: column;">
				<div>
					<a>Messages</a>
				</div>
				<div>
					<a>Blocked Senders</a>
				</div>
				<div>
					<a>Aliases</a>
				</div>
			</div>
			<div>
				<details>
					<summary>Table instructions</summary>
					Table displays all messages sent to the TNC phone number. 
				</details>
				<table>
					<thead>
						<tr>
							<th>
								Sender
							</th>
							<th>
								Message
							</th>
							<th>
								Approved
							</th>
							<th>
								Starred
							</th>
							<th>
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								+16616783781
							</td>
							<td>
								Hello world
							</td>
							<td>
								False
							</td>
							<td>
								False
							</td>
							<td>
								* | + | - | X
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>